@import "tailwindcss";
@import "bootstrap/dist/css/bootstrap.min.css";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* light theme variables */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --border-color: #DBDFE4;
  --input-background: #f0f0f0;
  --input-border: #cccccc;
  --input-text-color: #333333;
  --input-text-placeholder: #898F9B;
  --input-background-inverse: #1A2433;
  --input-text-color-inverse: #f8f8f8;
  --input-text-placeholder-inverse: #7E91B3;
  --input-border-inverse: #2B3853;

}

/* dark theme variables */
.dark-theme {
  --background-color: #121417;
  --text-color: #ffffff;
  --border-color: #E1E4E7;
  --input-background: #1A2433;
  --input-border: #2B3853;
  --input-text-color: #f8f8f8;
  --input-text-placeholder: #7E91B3;
  --input-background-inverse: #f0f0f0;
  --input-text-color-inverse: #333333;
  --input-text-placeholder-inverse: #898F9B;
  --input-border-inverse: #cccccc;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
a.text-link {
  color: #A3B1C0;
}
a.text-link:hover {
  color: #8f9ca9;
}

.nav-border {
  border-bottom: 2px solid var(--border-color);
}
.bg-navbar-dark {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}
.navbar-nav .dropdown-menu {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  color: var(--input-text-color);
  padding: 8px;
  border-radius: 4px;
}
.navbar-nav .dropdown-menu .dropdown-item {
  color: var(--input-text-color);
}
.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: var(--input-background);
  color: var(--input-text-color);
}

.dropdown-divider {
  border-top-color: var(--border-color);
}

.dark-theme input, .dark-theme input:focus {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  color: var(--input-text-color);
  padding: 8px;
  border-radius: 4px;
}
.dark-theme input::placeholder {
  color: var(--input-text-placeholder);
}

.dark-theme select, .dark-theme select:focus {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  color: var(--input-text-color);
  border-radius: 4px;
}
.dark-theme select::placeholder {
  color: var(--input-text-placeholder);
}

[data-bs-theme="dark"] {
  --bs-body-bg: var(--background-color); /* Darker background for dark theme */
  --bs-body-color: var(--text-color); /* Lighter text for dark theme */
  --bs-border-color: var(--border-color); /* Red border in dark theme */
}

.main-tooltip .tooltip-inner {
  background-color: #ff0000; /* Red background */
  color: #ffffff; /* White text */
}

.main-tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #ff0000 !important;
}

.main-container {
  min-height: 85vh;
}

.blocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  z-index: 10000;
  cursor: progress;
}
.blocker .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otp-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.otp-input {
  width: 40px !important;
  height: 40px !important;
  font-size: 20px;
  background-color: #ffffff !important;
  color: #333333 !important;
  font-weight: 600;
  margin: 0 4px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media only screen and (max-width: 600px) {
  .otp-input {
      margin: 0 2px;
  }
}

.otp-input:focus {
  border-color: #007bff;
  outline: none;
}

.carousel {
  height: 90vh;
}

.img-title {
  height: 30vh;
  opacity: 90%;
}

.card-selectable {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-selectable:hover, .card-selectable.active {
  transform: scale(1.02); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  border-color: #007bff; 
  color: #007bff;
}

.round-btn {
  width: 30px;
  height: 30px;
  background-color: var(--input-background);
  color: var(--input-text-color);
  border-color: var(--input-border);
}
.round-btn:hover {
  background-color: var(--input-background-inverse);
  color: var(--input-text-color-inverse);
  border-color: var(--input-border-inverse);
}

.cell-logo {
  padding: 5px;
  max-height: 50px;
}

.line-connect {
  width: 3px;
  height: 10vh;
}